<h1>IVT</h1>

<%= link_to 'bilan clinique pré-opératoire', chirurgy_bilancliniquepreoperatoire_path(@chirurgie) %> <br>
<%= link_to "pérarer l'intervention", chirurgy_preparerlintervention_path(@chirurgie) %> <br>
<%= link_to 'consignes post-opératoires', chirurgy_consignepostoperatoire_path(@chirurgie) %>
