<% content_for :meta_title, "#{DEFAULT_META["meta_title"]} : chirurgie des paupières (esthétique)" %>
<% content_for :meta_description, "Renseignez vous sur la chirurgie des paupières (esthétique) : bilan clinique, comment préparer l'intervention et les consignes post-opératoires." %>

<h1 class="titre_pathologies">CHIRURGIE DES PAUPIERES</h1>
<div class='chest_each_patho'>
  <div class="conteneur_text_image">
    <div class="textes text_width">
      <p class="full_width">Rides, poches, regard triste, austère ou fatigué... les traces de l'âge sont forcément une fatalité.</p>
      <p class="full_width">les ophtalmologistes peuvent vous conseiller et vous proposer des injections réduisant les traces du temps ou une chirurgie de blépharoplastie esthétique.</p>
      <p class="full_width">En première intention, la toxine botulique (ou Botox) permet des résultats rapides et efficaces.</p>
      <p class="full_width">Dans un deuxième temps, un traitement volumateur par acide hyaluronique est possible.</p>
      <p class="full_width">Améliorer votre image et votre bien être, avec un résultat naturel...</p>
    </div>
    <%= image_tag('esthetic.jpg', alt: "femme", class: "h_100w200") %>
  </div>
  <p class="italique">Pour plus d'informations sur la chirurgie esthétique des paupières, allez voir la <%= link_to "page des téléchargements", telechargements_path %></p>
</div>
<div class='bottom_bar d-flex'>
  <%= image_tag('logobleu.png', alt: "logo Ophta Miramas", class: 'img_prez') %>
  <p class="my-2 text-footer">Site internet réalisé par <%= link_to 'DataWeb Univers', 'https://www.data-web-univers.com', title: "Dataweb Univers", class: 'no_decoration text-footer' %></p>
</div>
