<h1>Chirurgies#index</h1>
<p>Find me in app/views/chirurgies/index.html.erb</p>

<ul>
<% @chirurgies.each do |chirurgie| %>
  <%= link_to chirurgie.nom, chirurgy_path(chirurgie) %> <br>
<% end %>
</ul>
