<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= link_to "lunettes", pages_lunettes_path %>

<%= link_to "centre", pages_centre_path %>

<%= link_to "pathologies", pathologies_path %>

<%= link_to "chirurgies", chirurgies_path %>
