<div class="erros_pages">
  <div class="errors_text">
    <h1>Ohoh. Nothing here.</h1>
    <p>The page you were looking for doesn't exist (404).</p>

    <p>You may have mistyped the address or the page may have moved.
      <br>If you're lost, you can go back to <%= link_to "the homepage", root_path, {class: 'error_link'} %>.</p>
  </div>
</div>
