.bottom_elements {
    display: flex;
    width: 100%;
    text-align: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    align-content: center;
}

.bottom_description h2 {
  text-decoration: none;
  font-family: 'playfair';
  color: black;
  letter-spacing: 1px;
  font-weight: normal;
  font-size: medium;
  margin: 0 !important;
  width: 100% !important;
}

.bottom_description h4 {
  color: #1E737D;
  border: none;
  font-family: 'roboto';
  font-weight: 700;
  font-size: 80%;
  text-align: left;
  width: 50%;
}

.bottom_description p {
  width: 100% !important;
  margin: 8px 0 0 0 !important;
}

.bottom_description {
  width: 16%;
  text-decoration: none;
}

.ligne {
height: 100px;
border: 1px solid #DCDCDC;
margin: 0 5% 0 5%;
align-self: center;
}
