

.cartel_cataracte {
    // background-color: #f4f4f4;
    width: 220px;
    padding: 10px 30px;
    border-radius: 4px;
    margin: 10px 8px;
}

.cartel_cataracte p {
    font-family: 'roboto';
    font-weight: 300;
    font-size: 90%;
}

.cartel_cataracte button {
  color: #1E737D;
  border: none;
  font-family: 'roboto';
  font-weight: 700;
  font-size: 80%;
  padding: 15px;
  margin-left: 107px;
}

/* -------------- */

.cartel_injections {
  // background-color: #f4f4f4;
  width: 220px;
  padding: 10px 30px;
  border-radius: 4px;
  margin: 10px 8px;
}

.cartel_tout p {
  font-family: 'roboto';
  font-weight: 300;
  font-size: 90%;
}

.cartel_injections button {
  color: #1E737D;
  border: none;
  font-family: 'roboto';
  font-weight: 700;
  font-size: 80%;
  padding: 15px;
  margin-left: 107px;
}

/* -------------- */

.cartel_paupieres {
  // background-color: #f4f4f4;
  width: 220px;
  padding: 10px 30px;
  border-radius: 4px;
  margin: 10px 8px;
}

.cartel_paupieres button {
  color: #1E737D;
  border: none;
  font-family: 'roboto';
  font-weight: 700;
  font-size: 80%;
  padding: 15px;
  margin-left: 107px;
}

/* -------------- */

.cartel_pathologies {
  // background-color: #f4f4f4;
  width: 220px;
  padding: 10px 30px;
  border-radius: 4px;
  margin: 10px 32px;
}

.cartel_pathologies button {
  color: #1E737D;
  border: none;
  font-family: 'roboto';
  font-weight: 700;
  font-size: 80%;
  padding: 15px;
  margin-left: 107px;
}

/* -------------- */

.cartel_paupieres {
  // background-color: #f4f4f4;
  width: 220px;
  padding: 10px 30px;
  border-radius: 4px;
  margin: 10px 8px;
}

.cartel_paupieres button {
  color: #1E737D;
  border: none;
  font-family: 'roboto';
  font-weight: 700;
  font-size: 80%;
  padding: 15px;
  margin-left: 107px;
}

/* -------------- */

.cartel_laser {
  // background-color: #f4f4f4;
  width: 220px;
  padding: 10px 30px;
  border-radius: 4px;
  margin: 10px 32px;
}

.cartel_tout h2 {
    font-family: 'roboto';
    font-weight: 400;
}

.cartel_laser button {
  color: #1E737D;
  border: none;
  font-family: 'roboto';
  font-weight: 700;
  font-size: 80%;
  padding: 15px;
  margin-left: 107px;
}

/* _________________ */

.cartels_up {
    display: flex;
    align-content: center;
    justify-content: space-around;
    width: 100%;
    text-align: center;
    margin: 60px 0 20px 0;
    flex-flow: row wrap;
}

.cartels_down {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin: 8px 0 20px 0;
    flex-flow: row wrap;
}

.text_cartel {
  display: flex;
  flex-direction: column;
}

.flex_column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f4f4f4;
  color: #474747;
}


.btn_rdv {
    color: #0f4370;
    display: block;
    border: 1px solid #0f4370;
    background-color: white;
    padding: 10px;
    width: auto;
    margin: 50px auto;
    font-family: 'roboto';
    font-weight: bold;
    border-radius: 2px;
    letter-spacing: 0.5px;
    transition: 1s;
    text-align: center;
    font-size: 90%;
    text-decoration: none;
}

.width_22 {
  width: 35%;
}


.btn_rdv:hover {
    color: white;
    background-color: #207FDE;
    transition: 0.3s;
    border: 1px solid #207FDE;
}

.btn_telechargements{
  color: white;
  display: block;
  border: 1px solid white;
  background-color: #207FDD;
  padding: 10px;
  width: 22%;
  margin: 50px auto;
  font-family: 'roboto';
  font-weight: bold;
  border-radius: 2px;
  letter-spacing: 0.5px;
  transition: 1s;
  text-align: center;
  font-size: 90%;
  text-decoration: none;
  margin: 30px 13% 30px 0;
}

.btn_telechargements:hover {
  color: #207FDD;
  background-color: white;
  transition: 0.3s;
  border: 1px solid white;
}

.cartel_lunette {
    width: 45%;
    display: block;
    display: flex;
    align-content: center;
    text-align: left;
    flex-flow: row wrap;
    background-color: rgba(243, 234, 234, 0.712);
    border-radius: 7px;
    margin: 45px auto;
    height: 220px;
    box-shadow: 0 0 20px lightgrey;
}

.img_lunettes {
    border-radius: 7px 0 0 7px;
    background-image: url(images/lunettes.jpg);
    height: 220px;
    width: 45%;
    background-size: cover;
    background-position: center;
}

.lunettes_text {
    display: block;
    margin: 15px;
    width:40%;
    float: right;
}

.cartel_lunette h2 {
    font-family: 'roboto';
    font-weight: 400;
}

.cartel_lunette p {
    font-family: 'roboto';
    font-weight: 300;
    font-size: 90%;
    line-height: 22px;

}

.bottom_elements p {
    color: #474747;
    font-family: 'roboto';
    font-weight: 300;
    color: gray;
}

.text_width {
  width: 70% !important;
}

.full_width {
  width: 100% !important;
}

.underline {
  text-decoration: underline !important;
}
