

.cartel_cataracte {
    background-color: white;
    box-shadow: 0 0 20px #EBEBEB;
    width: 250px;
    padding: 10px 30px;
    border-radius: 4px;
    margin: 10px auto;
}

.cartel_cataracte h2 {
    font-family: 'Playfair';
    font-weight: 400;
}

.cartel_cataracte p {
    font-family: 'roboto';
    font-weight: 300;
    font-size: 90%;
}

.cartel_cataracte button {
  color: #1E737D;
  border: none;
  font-family: 'roboto';
  font-weight: 700;
  font-size: 80%;
  padding: 15px;
  margin-left: 139px;
}

/* -------------- */

.cartel_injections {
  background-color: white;
  box-shadow: 0 0 20px #EBEBEB;
  width: 250px;
  padding: 10px 30px;
  border-radius: 4px;
  margin: 10px auto;
}

.cartel_injections h2 {
  font-family: 'Playfair';
  font-weight: 400;
}

.cartel_injections p {
  font-family: 'roboto';
  font-weight: 300;
  font-size: 90%;
}

.cartel_injections button {
  color: #1E737D;
  border: none;
  font-family: 'roboto';
  font-weight: 700;
  font-size: 80%;
  padding: 15px;
  margin-left: 139px;
}

/* -------------- */

.cartel_paupieres {
  background-color: white;
  box-shadow: 0 0 20px #EBEBEB;
  width: 250px;
  padding: 10px 30px;
  border-radius: 4px;
  margin: 10px auto;
}

.cartel_paupieres h2 {
  font-family: 'Playfair';
  font-weight: 400;
}

.cartel_paupieres p {
  font-family: 'roboto';
  font-weight: 300;
  font-size: 90%;
}

.cartel_paupieres button {
  color: #1E737D;
  border: none;
  font-family: 'roboto';
  font-weight: 700;
  font-size: 80%;
  padding: 15px;
  margin-left: 139px;
}

/* -------------- */

.cartel_pathologies {
  background-color: white;
  box-shadow: 0 0 20px #EBEBEB;
  width: 250px;
  padding: 10px 30px;
  border-radius: 4px;
  margin: 10px auto;
}

.cartel_pathologies h2 {
  font-family: 'Playfair';
  font-weight: 400;
}

.cartel_pathologies p {
  font-family: 'roboto';
  font-weight: 300;
  font-size: 90%;
}

.cartel_pathologies button {
  color: #1E737D;
  border: none;
  font-family: 'roboto';
  font-weight: 700;
  font-size: 80%;
  padding: 15px;
  margin-left: 139px;
}

/* -------------- */

.cartel_paupieres {
  background-color: white;
  box-shadow: 0 0 20px #EBEBEB;
  width: 250px;
  padding: 10px 30px;
  border-radius: 4px;
  margin: 10px auto;
}

.cartel_paupieres h2 {
  font-family: 'Playfair';
  font-weight: 400;
}

.cartel_paupieres p {
  font-family: 'roboto';
  font-weight: 300;
  font-size: 90%;
}

.cartel_paupieres button {
  color: #1E737D;
  border: none;
  font-family: 'roboto';
  font-weight: 700;
  font-size: 80%;
  padding: 15px;
  margin-left: 139px;
}

/* -------------- */

.cartel_laser {
  background-color: white;
  box-shadow: 0 0 20px #EBEBEB;
  width: 250px;
  padding: 10px 30px;
  border-radius: 4px;
  margin: 10px auto;
}

.cartel_laser h2 {
    font-family: 'Playfair';
    font-weight: 400;
}

.cartel_laser p {
    font-family: 'roboto';
    font-weight: 300;
    font-size: 90%;
}

.cartel_laser button {
  color: #1E737D;
  border: none;
  font-family: 'roboto';
  font-weight: 700;
  font-size: 80%;
  padding: 15px;
  margin-left: 139px;
}

/* _________________ */

.cartels_up {
    display: block;
    display: flex;
    align-content: center;
    width: 90%;
    text-align: center;
    margin: 70px auto 20px auto;
    flex-flow: row wrap;
}

.cartels_down {
    display: block;
    display: flex;
    align-content: center;
    width: 60%;
    text-align: center;
    margin: 10px auto 30px auto;
    flex-flow: row wrap;
}


.btn_rdv {
    color: #0f4370;
    display: block;
    border: 1px solid #0f4370;
    background-color: white;
    padding: 10px;
    width: 22%;
    margin: 50px auto;
    font-family: 'roboto';
    font-weight: bold;
    border-radius: 2px;
    letter-spacing: 0.5px;
    transition: 1s;
    text-align: center;
    font-size: 90%;
    text-decoration: none;
}

.btn_rdv:hover {
    color: white;
    background-color: #207FDE;
    transition: 0.3s;
    border: 1px solid #207FDE;
}

.btn_telechargements{
  color: white;
  display: block;
  border: 1px solid #207FDD;
  background-color: #207FDD;
  padding: 10px;
  width: 22%;
  margin: 50px auto;
  font-family: 'roboto';
  font-weight: bold;
  border-radius: 2px;
  letter-spacing: 0.5px;
  transition: 1s;
  text-align: center;
  font-size: 90%;
  text-decoration: none;
  margin: 30px 13% 30px 0;
}

.btn_telechargements:hover {
  color: #207FDD;
  background-color: white;
  transition: 0.3s;
  border: 1px solid white;
}

.cartel_lunette {
    width: 45%;
    display: block;
    display: flex;
    align-content: center;
    text-align: left;
    flex-flow: row wrap;
    background-color: rgba(243, 234, 234, 0.712);
    border-radius: 7px;
    margin: 45px auto;
    height: 220px;
    box-shadow: 0 0 20px lightgrey;
}

.img_lunettes {
    border-radius: 7px 0 0 7px;
    background-image: url(images/lunettes.jpg);
    height: 220px;
    width: 45%;
    background-size: cover;
    background-position: center;
}

.lunettes_text {
    display: block;
    margin: 15px;
    width:40%;
    float: right;
}

.cartel_lunette h2 {
    font-family: 'Playfair';
    font-weight: 400;
}

.cartel_lunette p {
    font-family: 'roboto';
    font-weight: 300;
    font-size: 90%;
    line-height: 22px;

}

.bottom_elements p {
    color: #474747;
    font-family: 'roboto';
    font-weight: 300;
    color: gray;
}
