.chest_centre {
    background-color: white;
    width: 75%;
    display: block;
    display: flex;
    margin: 20px auto 0 auto;
    border-radius: 3px 3px 0 0;
    flex-direction: column;
    box-shadow: 0 0 25px #0f4370;
    bottom: 0;
    position: relative;
    z-index: 0;
}
.position_row {
    display: flex;
    flex-direction: row;
    align-items: center;

}
.text_centre {
    display: flex;
    text-decoration: none;
    font-family: 'roboto';
    margin: 30px 0px 10px 0px;
    font-weight: 300;
    color: #474747;
    width: 100%;
}


.cartel_center1 {
    text-align: center;
    height: 700px;
    // padding: 20px 20px 0 20px;
    width: 50%;

}

.cartel_center1 p{
    text-align: center;
    // padding: 20px 20px 0 20px;
    width: 75%;
    font-size: 18.5px;
    padding: 220px 0px 0 60px;
    font-weight: 300;

}
.cartel_center2 {
  height: 600px;
  // padding: 20px 20px 0 20px;
  width: 50%;
  color: white;
  margin-top: -30px;
  text-align: center;
}

.cartel_center2 p {
  background-color: #ce1452;
  margin: 0 auto;
  border-bottom: 1px solid #f4588c;
  font-weight: 400;
  font-size: 18.5px;
}

.text01 {
    padding: 20px;
    padding: 20px;
    background-color: #ce1452;

}

.text02 {
   padding: 20px;
    text-align: center;
    margin: 0 auto;
    background-color: #ce1452;
}

.text03 {
    padding: 30px;
    text-align: center;
    margin: 0 auto;
    background-color: #ce1452;
}
.text05, .text04 {
   padding: 30px 30px 45px 30px;
    text-align: center;
    margin: 0 auto;
    background-color: #ce1452;
}

// .map {
//     width: 90%;
//     display: flex;
//     align-content: center;
//     margin: 10px auto;
//     border-radius: 3px;
//     // box-shadow: 0 0 10px rgba(211, 211, 211, 0.349);
// }
.mapimg {
  display: flex;
  justify-content: center;
  margin: 0 auto 0 auto;
  background-color: white;
  width: 75%;
  margin: 0 auto 0 auto;
  position: relative;
}

.googlelink {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}

.map {
  width: 76%;
  display: flex;
  align-content: center;
  margin: 0px auto;
  // box-shadow: 0 0 10px rgba(211, 211, 211, 0.349);
}

.img_lieu {
  float: right;
  width: 24%;
  margin-top: 0px;
  // margin-right: 60px;
  // margin-left: 30px;
  // border: 3px solid white;

}

.titre_center {
    font-family: 'roboto';
    font-weight: 500;
    letter-spacing: 3px;
    font-size: 35px;
    width: 80%;
    display: flex;
    display: block;
    margin: 30px 0 0 13% ;
    color: white;
}

// .img_lieu {
//     float: right;
//     width: 200px;
//     height: 329px;
//     margin-right: 60px;
//     margin-left: 30px;
//     border: 3px solid white;
//     box-shadow: 0 0 20px lightgray;
//     border-radius: 3px;

// }

.height1{
  height: auto !important;
}

.height2{
  height: 100% !important;
}

.height3{
  height: 80% !important;
}

.telechargement_infos {
  text-align: center !important;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 80% !important;
  padding: 30% 0 !important;
}

.telechargement_bbpb {
  border-bottom: 0px !important;
  padding: 0 10px;
  background-color: #ce1452;
  margin: 0;
  font-size: 17px;
}

.ml_13 {
  margin-left: 13% !important;
}

.normal {
  font-weight: normal !important;
}

.link_active {
  border-bottom: 0.5px solid #363636 !important;
}
