#banner {
    width: 100%;
    height: auto;
}

.chest_body {
    background-color: white;
    padding: 20px;
    width: 75%;
    margin: 40px auto 0 auto;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 0 25px #0f4370;
}

.bienvenue{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    line-height: 0px;
    flex-direction: column;

}

.bienvenue h2 {
    // color: #4B4B4B;
    color: black;
    font-family: 'Roboto';
    font-weight: 300;
    letter-spacing: 4px;
    font-size: 44px;
    margin-bottom: 30px;
}
.bienvenue h3 {
    color: #4B4B4B;
    color: black;
    font-family: 'Roboto';
    font-weight: 300;
    margin-top: 10px;
    font-size: 22px;

}

.bienvenue h4 {
    // color: #474747;
    color: #207fde;
    font-family: 'Roboto';
    font-size: 44px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 35px;
}
