body {
    // background: linear-gradiant(#207fdd, #0f4370);
    background: linear-gradient(#207fdd, #207fdd, #0f4370);
    margin: 0;
}
/* _____________NAVBAR_____________________________ */
.navbar {
    z-index: 2;
    text-align: center;
    width: 80%;
    height: 45px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    margin: 0 auto;
    background-color: white(0.5);
    border-radius: 0 0px 5px 5px;
    background-color: white;
    left: 0;
}

.navbar_all {
    z-index: 2;
    text-align: center;
    width: 80%;
    height: 45px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    margin: 0 auto;
    background-color: white(0.5);
    border-radius: 0 0px 5px 5px;
    background-color: white;
    left: 0;

}
.nav_back {
    width: 100%;
    background-color: white;
    position: sticky;
    top: 0px;
    // border-radius: 0 0 3px 3px;
    border-bottom: 0.5px solid lightgray;
    z-index: 1;
}

.navbar a {
  height: 0.5cm;
  font-size: 84%;
  font-weight: bold;
  font-family: 'roboto';
  color: black;
  border: none;
  background: none;
  margin: 15px auto 13px auto;
  transition-duration: 0.5s;
  text-decoration: none;
}


.navbar a:hover {
    transition: 0.3s;
    font-size: 90%;
    border-bottom: 1px solid #1963a8;
    padding-bottom: 5px
}

.img_navbar {
    opacity: 0.6;
    transition: 0.5s;
    top: 0px;
    left: 0;
    width: 20px;
    height: 39.6833px;

}

.img_navbar:hover {
    opacity: 1;
    transition: 0.2s;
}
/* _______________________________________________ */

#img_logo {
    display: block;
    height: 100px;
    width: 221.667px;
    margin: 0 auto;

}

.logo {
    background-color: white;
}

/* ------------------------------------------------ */

.bottom_bar {
    width: 100%;
    height: 30px;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 -1px 0 lightgray;
    align-items: center;
    z-index: 5;

}

.bottom_bar img {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

