
.chest_each_patho {
  background-color: white;
  width: 75%;
  display: block;
  display: flex;
  margin: 20px auto 0 auto;
  border-radius: 3px 3px 0 0;
  display: block;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 25px #13497f;
  bottom: 0;
  height: 100%;
}

.titre_pathologies {
  font-family: 'roboto';
  font-weight: 500;
  letter-spacing: 3px;
  font-size: 35px;
  // width: 60%;
  display: flex;
  display: block;
  margin: 30px 0 30px 13%;
  color: white;
}

.vide{
    height: 30px;
}

.chest_patho {
    background-color: white;
    width: 75%;
    display: block;
    display: flex;
    margin: 20px auto 0 auto;
    border-radius: 3px 3px 0 0;
    display: block;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 25px #13497f;
    bottom: 0;

}
.chest_patho a {
    text-decoration: none;
}


.chest_each_patho h2 {
  text-decoration: none;
  font-family: 'roboto';
  color: black;
  margin: 20px 20px;
  letter-spacing: 1px;
  font-weight: normal;
}

.chest_each_patho .italique {
  text-decoration: none;
  font-family: 'roboto';
  color: black;
  letter-spacing: 1px;
  font-weight: normal;
  font-size: 14px;
  margin: 0;
  width: 80%;
  padding: 20px 0px;
  line-height: 140%;
  }

.chest_patho h2 {
    text-decoration: none;
    font-family: 'roboto';
    color: black;
    margin: 20px 20px;
    letter-spacing: 1px;
    font-weight: normal;
}

.chest_patho p {
    text-decoration: none;
    font-family: 'roboto';
    width: 60%;
    margin: 20px 20px;
    font-weight: 300;
    color: #474747;
}

.chest_patho .line_height {
  line-height: 144%;
}

.chest_each_patho p {
    text-decoration: none;
    font-family: 'roboto';
    width: 75%;
    margin: 2px 48px;
    font-weight: 300;
    color: #474747;
    line-height: 150%;
}

.chest_each_patho h2 {
  text-decoration: none;
  font-family: 'roboto';
  color: black;
  margin: 2px 48px;
  letter-spacing: 2px;
}

.chest_patho .plus_patho {
  color: white;
  border: none;
  font-family: 'roboto';
  font-weight: 700;
  font-size: 15px;
  text-align: right;
  margin: 10px 20px;
  border-radius : 3px;
  background-color: #ce1452;
  width: 15%;
  padding: 10px 15px;
  text-align: center;
  margin-left: 80%;
  opacity: 0.7;
}

.chest_body .plus_patho {
  color: white;
  border: none;
  font-family: 'roboto';
  font-weight: 500;
  font-size: 15px;
  text-align: right;
  border-radius: 3px;
  background-color: #ce1452;
  width: 43%;
  padding: 10px 15px;
  text-align: center;
  margin-left: 50%;
  opacity: 0.7;
}

.plus_patho:hover {
  transition: 0.6s;
  opacity: 1;
}


.link_glaucome {
  width: 100%;
  align-content: center;
  display: block;
  margin: 20px auto;
  padding-top: 10px;
  border-bottom: 1px solid #13497f;
  padding-bottom: 20px;

}

.link_diabete {
  width: 100%;
  align-content: center;
  display: block;
  margin: 20px auto;
  padding-top: 10px;
  border-bottom: 1px solid #13497f;
  padding-bottom: 20px;


}

.link_dmla {
  width: 100%;
  align-content: center;
  display: block;
  margin: 20px auto;
  padding-top: 10px;
  border-bottom: 1px solid #13497f;
  padding-bottom: 15px;
}

.link_decollement_retine {
    width: 100%;
    align-content: center;
    display: block;
    margin: 20px auto;
    padding-top: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #13497f;
}

 .link_autres_maladies {
    width: 100%;
    align-content: center;
    display: block;
    margin: 20px auto;
    padding-top: 10px;
   }


   // ------LUNETTES_____

   .image_lunettes {
       width: 450px;
   }
.textes_lunettes {
    display: flex;
    flex-direction: row ;
     justify-content: flex-start;
    flex-wrap: wrap;
    // flex-direction: column;
        height: 675px;
    // background-image: url('forlunettes2.png');
    // background-size: 46%;
    // background-position: 100% 110%;
    // background-repeat: no-repeat;
}

.textes_lunettes2 {
display: flex;
    // flex-wrap: wrap;
    flex-direction: column;
    height: 555px;
    margin: 0;
    background-image: url(asset-path('forlunettes2.png'));
    background-repeat: no-repeat;
    background-size: 37%;
    background-position: right;


}
.conteneur_text_image {
    display: flex;
    flex-wrap: wrap;


}

.conteneur_text_image p {
    background: #207fde;
    color: white;
    width: 60%;
    padding: 30px 25px 30px 25px;
    border-bottom: 1px solid lightblue;
    margin: 0;
    font-weight: 400;
}

.conteneur_text_image h2 {
    width: 60%;
    padding: 30px 25px 30px 25px;
    color: white;
    background: #207fde;
    font-size: 30px;
    margin: 0;
    border-bottom: 1px solid lightblue;
}


.conteneur_text_pathologies p {
width: 60%;
color: white;
font-weight: 400;
background-color: #ce1452;
margin: 0;
padding:15px;
border-bottom: 1px solid pink;
}

.conteneur_text_pathologies h2{
color: white;
font-weight: 400;
background-color: #ce1452;
margin: 0;
width: 60%;
padding: 10px 15px 0 15px;

}

// .image_lunette_back {
//     position: absolute;
//     right: 0;
//     width: 19%;
//     height: 555px;
//     background-image: url('forlunettes2.png');
//     background-size: cover;
//     // background-position: 100% 110%;
//     background-repeat: no-repeat;
//     padding: 0 60px;

// }
// -------CHIRURGIES----------


.conteneur_text_chirurgies p {
width: 60%;
color: white;
font-weight: 400;
background-color: #207fde;
margin: 0;
padding: 30px 15px 30px 15px;
border-bottom: 1px solid pink;
}

.conteneur_text_chirurgies h2{
color: white;
font-weight: 400;
background-color: #207fde;
margin: 0;
width: 60%;
padding: 10px 15px 0 15px;

}




.titre_path {
    border-radius: 3px 0 0 0;
}

.image_pathology {
height: 100%;
width: 31%;
float: right;
border-radius: 0;
margin-top: 50px;
}


// ------------BILAN TECH-----------------



.conteneur_text_bilantech p {
width: 80%;
color: black;
font-weight: 400;
background-color: #f4f4f4;
margin: 0;
padding: 15px 15px 15px 15px;
// border-bottom: 1px solid lightgray;
}

.conteneur_text_bilantech h2{
color: black;
font-weight: 400;
background-color: #f4f4f4;
margin: 0;
width: 80%;
padding: 30px 15px 0 15px;
border-top: 4px solid white;
}

.titre_pathologies_telechargement{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.pathologies_style {
  font-family: 'roboto';
  font-weight: 500;
  letter-spacing: 3px;
  font-size: 35px;
  width: 60%;
  display: flex;
  display: block;
  margin: 30px 13%;
  color: white;
  font-size: 27px;
}

.mp {
  margin: 0;
  padding: 15px;
}

.border_radius {
  border-radius: 0 0 20px 0 !important;
}

.bg-bb {
  background-color: white !important;
  border-bottom: 1px solid white !important;
}

.laser {
  text-decoration: underline !important;
  background-color: #c0134e !important;
  color: white !important;
  border-bottom: 1px solid #c0134e !important;
  height: 2px !important;
}

.laser2 {
  text-decoration: underline !important;
  background-color: #c0134e !important;
  color: white !important;
  border-bottom: 1px solid #c0134e !important;
  height: 2px !important;
}

.control {
  background-color: #c0134e !important;
  color: white !important;
  padding-top: 5px !important;
}

.control2 {
  background-color: #c0134e !important;
  border-radius: 0px 0px 20px 0px !important;
  color: white !important;
  padding-top: 5px !important;
  margin-bottom: 30px !important;
}

.chirurgie_bb {
  border-bottom: 0.5px solid #363636 !important;
}

.width_70 {
  width: 70px !important;
}

.pathology_hw {
  height: 170px !important;
  width:200px !important;
}

.width_200 {
  width: 200px !important;
}

.h_144_w_200 {
  height: 114px !important;
  width:220px !important;
}

.h_100w200 {
  height: 100px !important;
  width:200px !important;
}

.width_60 {
  width: 60px !important;
}
