

.img_inf {
    // height: 180px;
    margin-top: 45px;
    padding-top: 30px;
    width: 200px;
    background: #ce1452 ;
}

.img_anne {
    // height: 180px;
    margin-top: 45px;
    width: 145px;
    padding: 10px 0 0 55px;
    background: #207fdd ;
}

.img_eliane {
    // height: 180px;
    margin-top: 45px;
    width: 190px;
    padding: 0px 0 0 10px;
    background: #207fdd ;
}

.img_agnes {
    // height: 180px;
    margin-top: 45px;
    width: 160px;
    padding: 0px 0 0 40px;
    background: #e8e8b2 ;
}

.img_nadine {
    // height: 180px;
    margin-top: 45px;
    width: 160px;
    padding: 10px 0 0 40px;
    background: #0f4370 ;
}

.img_brigitte {
    // height: 180px;
    margin-top: 45px;
    width: 175px;
    padding: 15px 0 0 25px;
    background: #0f4370 ;
}


.personnel {
    position: relative;
    height: 300px;
    width: 300px;
}


.personnels_cards {
    display: flex;
     flex-direction: row ;
     justify-content: space-around ;
     width: 90%;
     height: 750px;
     margin: 70px auto 0px auto;
}

.personnels_cards {
display: flex;
flex-wrap: wrap;
 justify-content: space-around ;
}

.personnel{
    -webkit-backface-visibility: hidden;
    // display: inline-block;
    position: relative;
    margin: 0 auto;
    // overflow: hidden;
    // background: #000;
    text-align: center;
    box-shadow: 0 15px 50px rgba(0,0,0,.1);
}

.personnel p {
    position: absolute;
    opacity: 0;
    color: white;
    background: rgba(0, 0, 0, .5);
    padding: 5px 40px;
    bottom: 0px;
    left: -50px;
}

.personnel h2 {
    position: absolute;
    top: -40px;
    font-size: 100%;
    width: 300px;
    text-align:center;
    left: -50px;
}

.personnel:hover p {
    transition: 0.5s;
    opacity: 1;
}
.personnel img {
    border-radius: 2px;
}
.personnel:hover img {
    transition: 0.5s;
    opacity: 0.4;
}

.personnel:hover {
box-shadow: 0 15px 50px rgba(147,147,147,.1);
}
