.personnel {
    width: 450px;
    position: relative;
    display: block;
    margin-left: 20px;
    // box-shadow: 0 0 20px #f4f4f4;
    height: 213px;
    // margin-left: 65px;
}

.img_inf {
    // height: 180px;
    padding-top: 30px;
    width: 200px;
    background: #ce1452 ;
    border-radius: 15px 0 0 15px ;
}

.personnel p {
position: absolute;
bottom: 5px;
right: -5px;
color: black;
width: 200px;
}

.img_anne {
    // height: 180px;
    width: 145px;
    padding: 10px 0 0 55px;
    background: #207fdd ;
    border-radius: 15px 0 0 15px ;
}

.img_eliane {
    // height: 180px;
    margin-top: 10px;
    width: 190px;
    padding: 0px 0 0 10px;
    background: #207fdd ;
    border-radius: 15px 0 0 15px ;
}

.img_agnes {
    // height: 180px;
    width: 160px;
    padding: 0px 0 0 40px;
    background: #e8e8b2 ;
    border-radius: 15px 0 0 15px ;
}

.img_nadine {
    // height: 180px;
    width: 160px;
    padding: 10px 0 0 40px;
    background: #0f4370 ;
    border-radius: 15px 0 0 15px ;
}

.img_brigitte {
    // height: 180px;
    width: 175px;
    padding: 15px 0 0 25px;
    background: #0f4370 ;
    border-radius: 15px 0 0 15px ;
}
