a:hover{
  text-decoration: none !important;
}

.presentation_home {
    display: block;
    display: flex;
    align-content: center;
    width: 80%;
    text-align: center;
    margin: 35px auto;
    flex-flow: row wrap;
}

.presentation_home p {
    flex-flow: row nowrap;
    width: 150px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'roboto';
    font-weight: 300;
    color: #474747;
}

.eyes{
  background-image: url(asset-path("banerbleue.jpg"));
  background-size: cover;
  background-position: center;
}

.lunet{
  background-image: url(asset-path("two_faces.jpg"));
  background-size: cover;
  background-position: center;
}

.presentation_home_1, .presentation_home_2, .presentation_home_3, .presentation_home_4 {
  align-content: center;
  text-align: center;
  margin: 0px auto;
  text-decoration: none;
}

.presentation_home .dropdown {
  margin: auto;
}

.image_pathology {
  width: 380px;
  height: 246px;
  margin-right: 32px;
  border-radius: 15px;
}

.img_prez {
  width: 60px;
}

.bg_br {
}

.margin_none {
  margin: 5px auto;
}

.presentation_home .dropdown-toggle::after {
  display: none;
}

.chest_each_patho .dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
}
