@media (max-width: 1169px) {
  .cartel_center2 p {
      font-size: 18px;
  }
}

@media (max-width: 960px) {
    .chest_centre, .mapimg {
        width: 75%;
}
    .cartel_center2 {
      height: auto;
    }
    .cartel_center2 p {
      font-size: 17px;
    }

    .cartel_center1 {
      padding: 0 10px 0 0;
      height: 710px;
    }
}


@media (max-width: 780px) {
    .chest_centre, .mapimg, .chest_patho, .chest_each_patho {
        width: 85%;
    }
    .cartel_center2 {
        height: 400px;
    }
    .cartel_center2 p {
        font-size: 15px;
    }
    .text01, .text02, .text03, .text04, .text05 {
        padding: 13px 10px;
    }
    .cartel_center1 {
    padding: 0 45px 0 0;
    height: 610px;
    }

    .cartel_center1 p{
    font-size: 15px;
    }
    * {
    transition: 0.4s;
    }

    .navbar {
        width: 95%;
    }

    .navbar a {
        font-size: 70%;
    }

    .img_navbar {
        width: 15px;
        height: 30px;
    }

    #img_logo {
    display: block;
    height: 50px;
    width: 110px;
    margin: 0 auto;
    }

    .titre_center {
      margin-left: 5%;
      font-size: 27px;
    }

    .textes_lunettes p {
        font-size: 14px;
    }

    .btn_rdv {
      width: 75%;
    }
    .textes_lunettes2 {
      background-image: url('');
    }
    .textes_charte {
      background-image: url('');
    }
    .conteneur_text_image p, .conteneur_text_image h2 {
        width: 85%;
        margin: 0 auto;
    }

    .titre_pathologies {
      font-size: 27px;
    }

    .chest_patho .plus_patho {
        width: 30%;
        margin-left: 55%;
    }
    .etapes h2{
        width: 100px;
        height: 60px;
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
    }
    .image_pathology {
        height: 0px;
        width: 0px;
    }


    .conteneur_text_chirurgies p, .conteneur_text_bilantech p, .conteneur_text_bilantech h2, .conteneur_text_bilantech h3, .conteneur_text_pathologies p, .conteneur_text_pathologies h2{
        width: 93%;
        margin: 0 auto;
        border-radius: 0 !important;
    }

    .personnels_cards {
     height: auto;
     }
    .personnel h2 {
        margin-top: 55px;
    }
}
@media (max-width: 540px) {

  .chest_centre, .mapimg, .chest_patho, .chest_each_patho {
      width: 95%;
  }
  .cartel_center2 {
      height: auto;
  }
  .cartel_center2 p {
      font-size: 15px;
  }
  .text01, .text02, .text03, .text04, .text05 {
      padding: 11px;
  }
  .cartel_center1 {
    padding: 0 45px 0 0;
    height: auto;
  }
  .navbar {
    width: 100%;
    flex-shrink: 0;
  }
  .navbar_all {
    margin: 0;
    width: 100%;
  }
  .navbar a {
    font-size: 85%;
    margin: 0 5px;
    text-align: center;
    height: auto;
    font-weight: normal;
  }
  .img_navbar {
    display: none;
  }
  .titre_center {
    margin-left: 3%;
    font-size: 25px;
  }

  .titre_pathologies {
      font-size: 25px;
      width: 95%;
      margin: 30px 0 30px 0px;
  }

  .btn_telechargements {
    margin: 30px 0 30px 0px;
    width: 50%;
  }

  .bienvenue h4{
    font-size: 30px;
  }

  .bienvenue .bienvenue_3{
    font-size: 19px;
  }

  .link_rendez_vous {
    display: none;
  }
}

@media (max-width: 480px) {
  .articles {
    position: relative;
    top: 20px;
  }
}

@media (max-width: 444px) {
   .bienvenue .bienvenue_2 {
    font-size: 16px;
  }

  .bienvenue .bienvenue_3{
    font-size: 17px;
  }
  .articles {
    position: relative;
    top: 50px;
  }
}

@media (max-width: 444px) {
  .articles {
    position: relative;
    top: 90px;
  }
}

@media (max-width: 380px) {
  .articles {
    position: relative;
    top: 130px;
  }
}

@media (max-width: 373px) {
  .navbar {
    flex-wrap: wrap;
  }
}

@media (max-width: 345px) {
  .bienvenue .bienvenue_3, .bienvenue_2{
    visibility: collapse;
  }
  .articles {
    position: relative;
    top: 180px;
  }
}

