<br><br>
<h2  class="titre_pathologies"> - Préparer l'intervention</h2>
<div class='chest_each_patho'>
  <div class="conteneur_text_bilantech">
    <div class="textes">
      <h3 class="titre_path" class= 'border-radius'>Remplissez le dossier administratif</h3>
      <p>Il est essentiel de remplir les éléments contenus dans votre dossier, notamment :</p>
      <p>• la demande d'admission à la clinique officialisant votre réservation (à retourner par voie postale à la clinique ou à déposer lors de la consultation pré-opératoire),</p>
      <p>• le dossier d'anesthésie afin que l'anesthésiste et son équipe connaissent vos antécédents médicaux pour intervenir rapidement en cas de soucis,</p>
      <p>• l'accord de votre tutelle / curatelle (si vous êtes sous tutelle / curatelle).</p>
      <h3>Prenez rendez-vous avec l'anesthésiste</h3>
      <p>Il est obligatoire de rencontrer l'anesthésiste avant toute chirurgie, même si celle-ci se réalise sous anesthésie locale</p>
      <h3>Contactez votre assurance complémentaire / mutuelle</h3>
      <p>L’essentiel de l'acte chirurgical est pris en charge par l’assurance maladie :</p>
      <p>• L’assurance maladie verse un forfait à la clinique pour assurer les frais de structure (matériels, personnels, implant,…).</p>
      <p>• L’assurance maladie participe au financement de l’acte chirurgie et de l’acte anesthésique.</p>
      <p>Un devis détaillé vous sera communiqué lors de votre consultation afin que vous puissiez vérifier vos droits auprès de  votre mutuelle.</p>
      <h3>Allez chercher vos traitements !</h3>
      <p>Dans votre dossier, vous trouverez une ordonnance notifiant les collyres à instiller :</p>
      <p>• ordonnance pré-opératoire : collyres à instiller le jour J en quittant votre domicile pour provoquer la dilatation oculaire et faciliter la chirurgie,</p>
      <p class="border_radius">• ordonnance post-opératoire : collyres à instiller dès le soir même de l'intervention.</p>
    </div>
  </div>
  <p  class="italique">Concernant l’ordonnance post-opératoire, pensez à vous rendre à la pharmacie avant l'opération pour gagner en sérénité et ainsi pouvoir rentrer immédiatement à votre domicile après la chirurgie.</p>
</div>
