<br><br>
<h2  class="titre_pathologies"> - Chirurgie premium</h2>
<div class='chest_each_patho'>
  <div class="conteneur_text_bilantech">
    <div class="vide"></div>
    <h3>Pourquoi une chirurgie Premium ?</h3>
    <p><br>La chirurgie de la cataracte vise à récupérer une acuité visuelle maximale de loin. </p>
    <p>Toutefois, une correction optique sera parfois nécessaire pour corriger un astigmatisme résiduel.</p>
    <p>Dans tous les cas, le port de lunettes pour la vision de près sera indispensable.</p>
    <p class="italique mp"><br> Si vous souhaitez ne plus porter de lunettes du tout, la chirurgie dite Premium s'adresse à vous.</p>
    <p><br></p>
    <h3>Quelle est la différence avec la chirurgie standard ?</h3>
    <p><br>Lors de la consultation, une attention particulière sera portée sur vos besoins visuels, vos activités et sur votre correction optique.</p>
    <p>Cet examen approfondi permettra de sélectionner l'implant cristallinien le mieux adapter à votre cas :
      <br>- implant torique pour corriger l'astigmatisme en vision de loin,
      <br>- implant multifocal pour corriger la vision de loin et la vision de près sans port de lunettes,
    <br>- implant multifocal torique qui corrige l'astigmatisme en vision de loin et également la vision de près.</p>
    <p><br></p>
    <h3>Y-a-t-il un surcoût ?</h3>
    <p><br>Oui, la sécurité sociale ne prend pas en charge le surcoût lié au type d'implant dit Premium car celui-ci est plus complexe à fabriquer.</p>
    <p>C'est pourquoi votre chirurgien vous donnera un devis détaillé concernant l'implant sélectionné. Vous devrez payer la différence de prix, directement là la clinique, entre votre implant "Premium" et l'implant standard (de 64 à 500€ par œil). La clinique se charge en effet de la fourniture de cet implant sur recommandation de votre chirurgien.</p>
    <p>Vous retrouverez dans la section <%= link_to "page des téléchargements", telechargements_path %>, différents documents expliquant cette chirurgie et les implants.</p>
    <p><br><br></p>
  </div>
</div>
