<br><br>
<h2  class="titre_pathologies"> - vous venez d'être opéré(e): que faire ?</h2>
<div class='chest_each_patho'>
  <div class="conteneur_text_bilantech">
    <div class="textes">
      <h3 class= 'border-radius'>Quand puis-je rentrer à mon domicile ?</h3>
      <p>Une fois la chirurgie terminée, une infirmière vous donnera toutes les consignes post-opératoires (que faire du pansement, comment et quand mettre les gouttes, dates post-opératoire, etc...) et vous proposera une collation.</p>
      <p>Après votre sortie administrative, vous êtes libre !</p>
      <p>Entre votre entrée et votre sortie, souvent moins de 2h30 se seront écoulées.</p>
      <h3>Quand vais-je revoir ? Vais-je avoir mal ?</h3>
      <p>Dans la très grande majorité des cas (95%), l’œil opéré de la cataracte est indolore.</p>
      <p>La vision s’améliore très rapidement, souvent dès le lendemain, et une correction adaptée par lunettes peut être prescrite au bout de quelques semaines.</p>
      <p>Les soins locaux sont réduits à l’instillation de gouttes.</p>
      <h3>Que faire de mon pansement ?</h3>
      <p>Le pansement ou rondelle oculaire doit être retiré le lendemain matin de l'intervention. La coque sera ensuite porté 5 à 7 jours la nuit uniquement.</p>
      <h3>Quand dois-je commencer à mettre les gouttes</h3>
      <p>Vous devez instiller les premières gouttes aussitôt le pansement retiré.</p>
      <p>Vous pouvez instiller les différents traitement à la suite, en attendant une minute entre chaque traitement.</p>
      <h3>Qui doit m'instiller les gouttes ?</h3>
      <p>Dans la mesure du possible, c'est vous qui devez les instiller.</p>
      <p>Ce n'est pas compliqué, en s'aidant d'un miroir.</p>
      <p>Attention, pensez à toujours vous laver les mains avant d'appliquer le traitement.</p>
      <p>Il n'y a aucun risque à instiller plusieurs gouttes d'un même traitement, l'essentiel étant de mettre au moins une goutte dans l’œil. Une unidose comprend assez de gouttes pour faire des "erreurs". Il n'y a donc aucun souci si des gouttes tombent sur votre joue ou au sol.</p>
      <p>Dans l'impossibilité de réaliser ce traitement vous même, demandez de l'aide à votre famille ou votre entourage (voisins, amis...). En dernier recours, vous pouvez faire appel à une infirmière diplômée d'état qui viendra faire les soins à domicile (l'ordonnance sera rédigée par le médecin).</p>
      <h3>Quand aura lieu le contrôle post-opératoire ?</h3>
      <p>Avant votre intervention, le médecin vous remettra un dossier complet post-opératoire personnalisé.</p>
      <p class="border_radius">Dans celui-ci figure la date et l'heure de votre rendez-vous prévu au centre d'ophtalmologie à Miramas. En cas d'impossibilité de vous rendre à ce rendez-vous, merci de contacter le secrétariat via le numéro de téléphone indiqué.</p>
    </div>
  </div>
</div>
<div class='bottom_bar'>
  <%= image_tag('logobleu.png', alt: "logo OphtaMiramas", class: 'img_prez') %>
</div>
