<br><br>
<h2 class="titre_pathologies ml_13"> - Préparer l'intervention</h2>
<div class='chest_each_patho'>
  <div class="conteneur_text_bilantech">
    <div class="textes">
      <h3 class= 'border-radius'>Remplissez le dossier administratif</h3>
      <p>Il est essentiel de remplir les éléments contenus dans votre dossier, notamment :</p>
      <p>- la demande d'admission à la clinique officialisant votre réservation (à retourner par voie postale à la clinique ou à déposer lors de la consultation pré-opératoire),</p>
      <p>- l'accord de votre tutelle / curatelle (si vous êtes sous tutelle / curatelle).</p>
      <h3>Allez chercher votre produit et les collyres !</h3>
      <p>Dans votre dossier, vous trouverez 2 ordonnances :</p>
      <p class="normal">- ordonnance concernant le produit d'exception (couleur bleu) : il est indispensable d'aller chercher le produit en pharmacie quelques jours avant car la clinique n'en dispose pas,</p>
      <p class="border_radius">- ordonnance post-opératoire : collyres à instiller avant et après l'intervention.</p>
      <p class="italique">Pensez à aller à la pharmacie avant l'ivt pour gagner en sérénité et ainsi pouvoir rentrer immédiatement à votre domicile après l'injection intra-vitréenne.</p>
    </div>
  </div>
</div>
