<br><br>
<h2 class="titre_pathologies">IVT : vous venez d'être injecté(e): que faire ?</h2>
<div class='chest_each_patho'>
  <div class="conteneur_text_bilantech">
    <div class="textes">
      <h3 class= 'border-radius'>Quand puis-je rentrer à mon domicile ?</h3>
      <p>Une fois l'injection réalisée, une infirmière vous donnera toutes les consignes post-opératoires (comment et quand mettre les gouttes, prochaine injection ou rendez-vous de contrôle).</p>
      <p>Après votre sortie administrative, vous êtes libre !</p>
      <p>Entre votre entrée et votre sortie, souvent moins de 30 minutes se seront écoulées.</p>
      <h3>Quand vais-je revoir ? Vais-je avoir mal ?</h3>
      <p>Dans la très grande majorité des cas (95%), l’œil injecté est indolore, toutefois une sensation de grains de sable est possible pendant quelques jours.</p>
      <p>Il se peut que vous ayez la sensation de voir des ronds noirs ; il s'agit des bulles du produit qui vont se dissiper rapidement.</p>
      <p>Les soins locaux sont réduits à l’instillation de gouttes.</p>
      <p>Si dans les jours suivants l'injection, l'oeil devient rouge et douloureux, vous devez consulter l'ophtalmologiste.</p>
      <h3>Quand dois-je commencer à mettre les gouttes</h3>
      <p>Vous devez instiller les premières gouttes aussitôt le pansement retiré, soit le premier soir.</p>
      <p>Vous pouvez instiller les différents traitement à la suite, en attendant une minute entre chaque traitement.</p>
      <h3>Qui doit m'instiller les gouttes ?</h3>
      <p>Dans la mesure du possible, c'est vous qui devez les instiller.</p>
      <p>Ce n'est pas très compliqué, en s'aidant d'une glace.</p>
      <p>Attention, pensez à toujours vous laver les mains avant d'appliquer le traitement.</p>
      <p>Il n'y a aucun risque à instiller plusieurs gouttes d'un même traitement, l'essentiel étant de mettre au moins une goutte dans l'oeil. Une unidose comprend assez de gouttes pour faire des "erreurs". Il n'y a donc aucun souci si des gouttes tombent sur votre joue ou au sol.</p>
      <p>Dans l'impossibilité de réaliser ce traitement vous même, demandez de l'aide à votre famille ou votre entourage (voisins, amis...). En dernier recours, vous pouvez faire appel à une infirmière diplômée d'état qui viendra faire les soins à domicile (l'ordonnance vous sera rédigée par le médecin).</p>
      <h3>Quand aura lieu la prochaine injection intra-vitréenne ou consultation ?</h3>
      <p>Après votre injection, le médecin vous remettra un compte rendu qui vous donnera la date et l'heure de la prochaine injection  ou de la consultation.</p>
      <p class="bg-bb">En cas d'impossibilité de vous rendre à ce rendez-vous, merci de contacter le secrétariat via le numéro de téléphone indiqué ou via le formulaire de contact.</p>
    </div>
  </div>
</div>
<div class='bottom_bar'>
  <%= image_tag('logobleu.png', alt: "logo Ophta Miramas", class: 'img_prez') %>
</div>
