<% content_for :meta_title, "#{DEFAULT_META["meta_title"]}, chirurgie réfractive (laser) - bilan et consignes" %>
<% content_for :meta_description, "Renseignez vous sur la chirurgie réfractive (laser) : bilan clinique, préparation de l'intervention et consignes post-opératoires" %>

<%= render "shared/navbar" %>

<h1 class="titre_pathologies">CHIRURGIE RÉFRACTIVE</h1>
<h2 class="titre_pathologies"> - Bilan clinique pré-opératoire</h2>
<div class='chest_each_patho'>
  <div class="conteneur_text_bilantech">
    <div class="textes">
      <h3 class= 'border-radius'>Contenu de la consultation</h3>
      <p>L'intérêt de la consultation est de définir et de confirmer votre opérabilité.</p>
      <p>Lors de la consultation pré-opératoire vous rencontrerez successivement :
        <br>  - un orthoptiste,
        <br>  - et un ophtalmologiste.</p>
      <p>Cette consultation complète permet de déterminer :
        <br>  - votre acuité visuelle (réfractive) oeil par oeil ainsi que votre oeil dominant,
        <br>  - l'épaisseur de votre cornée (=pachymétrie) : élément essentiel,
        <br>  - votre problème de vue (=amétropie) : myopie, astigmatisme, hypermétropien presbytie ainsi que son degré,
      <br>- si les autres structures oculaires essentielles ne présentent pas d'altérations compromettant la récupération visuelle post-opératoire.</p>
      <p>Ainsi les examens cliniques et paracliniques permettent de définir la qualité : de la cornée, du cristallin, de la rétine et du nerf optique.</p>
      <h3>Entretien</h3>
      <p>Lors d'une discussion ouverte, le médecin, de manière très simplifiée:
        <br>- vous présentera une ou plusieurs techniques opératoires, avec leurs avantages et inconvénients, adaptées à votre situation,
        <br>- vous illustrera les techniques par des vidéos et des exemples concrets,
      <br>- vous précisera le "timing" des examens opératoires nécessaires.</p>
      <h3>Programmation de la chirurgie</h3>
      <p>La décision opératoire revient au patient, après réflexion, suites aux informations délivrées par le médecin.</p>
      <p>Après décision, le médecin :
        <br>- vous proposera plusieurs dates opératoires convenant à vos disponibilités ou à celles de votre entourage,
        <br>- éditera le dossier pré-opératoire complet,
      <br>- s'assurera encore une fois de la complétude de votre dossier médical.</p>
    </div>
  </div>
  <p class="italique">Cette chirurgie s'adressant à des personnes jeunes et actives, nous ferrons le maximum pour diminuer le nombre de consultations et pour proposer des dates de rencontre adaptées à vos contraintes familiales et professionnelles.</p>
</div>
