<br><br>
<h3 class="titre_pathologies ml_13"> - Préparer l'intervention</h3>
<div class='chest_each_patho'>
  <div class="conteneur_text_bilantech">
    <div class="textes">
      <h3 class= 'border-radius'>Allez chercher vos traitements !</h3>
      <p>Dans votre dossier, vous trouverez une ordonnance spécifiant les collyres à instiller dans les suites opératoires immédiates</p>
      <p>Pensez à aller à la pharmacie avant l'opération pour gagner en sérénité et ainsi pouvoir rentrer immédiatement à votre domicile après l'intervention.</p>
      <p>Il n'y a aucun traitement à prendre au préalable.</p>
      <h3>Contactez votre assurance complémentaire / mutuelle</h3>
      <p>Un devis détaillé vous a été fourni en fonction de la technique opératoire choisie / possible.</p>
      <p>Pour éviter toute mauvaise surprise, vérifier vos droits auprès de votre mutuelle.</p>
      <p>A noter que le centre offre le paiement en trois fois (étalé sur 3 mois) sans frais.</p>
      <h3>Enlevez vos lentilles ! Pas de maquillage !</h3>
      <p>Pour assurer un parfait état de votre cornée et donc permettre un résultat post-opératoire optimal, arrêtez le port de lentilles 72 heures avant l'intervention.</p>
      <p>Le maquillage est contre-indiqué.</p>
      <p>Il complique la chirurgie et favorise les infections.</p>
      <h3>Anticipez la route !</h3>
      <p class="border_radius">Toujours pour gagner en sérénité, veillez à prendre une marge horaire pour votre déplacement le jour J.</p>
    </div>
  </div>
</div>
