<br><br>
<h2 class="titre_pathologies"> - vous venez d'être opéré(e): que faire ?</h2>
<div class='chest_each_patho'>
  <div class="conteneur_text_bilantech">
    <div class="textes">
      <h3 class= 'border-radius'>Quand puis-je rentrer à mon domicile ?</h3>
      <p>Comme après toute chirurgie, il est recommandé de venir accompagné(e). La conduite automobile peut devenir très compliquée si vos yeux se réveillent durant le retour.</p>
      <p>Aussitôt la sortie du bloc opératoire, votre sortie est autorisée.</p>
      <p>La présence sur place le jour J (accueil administratif, attente, opération, sortie) n'excédera pas une heure.</p>
      <h3>Quand vais-je revoir ? Vais-je avoir mal ?</h3>
      <p class="underline">Dans le cadre du LASIK:</p>
      <p>Le premier soir, une à deux heures après la chirurgie, vous allez ressentir une gène de type de grains de sable, poussière...</p>
      <p>N'oubliez pas d'instiller les traitements prescrits. Vous pouvez abuser des collyres lubrifiants !</p>
      <p>Cette sensation cessera au cours de la soirée.</p>
      <p>N'oubliez pas de dormir avec les coques fournies les 6 premières nuits.</p>
      <p>La vision s’améliore très rapidement, et souvent dès le lendemain, vous devenez totalement autonome.</p>
      <p class="underline">Dans le cadre de la PKR:</p>
      <p>L'opération a généralement lieu le jeudi après-midi.</p>
      <p>Les 48 premières heures (vendredi et samedi) sont des jours pénibles où coexisteront les hauts et les bas.</p>
      <p>Eblouissements, larmoiement, sensation de grains de sable, baisse de la vue ...</p>
      <p>Il est recommandé de ne prévoir aucune activité extérieure durant cette période.</p>
      <p>Le dimanche, la situation devrait être bien plus favorable et les douleurs disparues..</p>
      <p>Le lundi, lors du contrôle post-opératoire au cabinet, nous procédons à l'ablation des lentilles "pansement".</p>
      <p>La vue est déjà améliorée. Bien mieux qu'avant sans lentilles et lunettes, mais pas encore aussi aussi bien qu'avant avec vos lunettes ou lentilles. Avec l'introduction de nouveaux traitements (anti-inflammatoires), la vue va rapidement s'améliorer et l'éblouissement diminuera.</p>
      <h3>Quand dois-je commencer à mettre les gouttes</h3>
      <p>Vous devez instiller les premières gouttes aussitôt la chirurgie terminée en respectant scrupuleusement la périodicité indiquée par le médecin. Vous pouvez instiller les différents traitements à la suite, en attendant une minute entre chaque traitement.</p>
      <h3>Qui doit m'instiller les gouttes ?</h3>
      <p>Dans la mesure du possible, c'est vous qui devez les instiller.</p>
      <p>Ce n'est pas compliqué, en s'aidant d'un miroir.</p>
      <p>Attention, pensez à toujours vous laver les mains avant d'appliquer le traitement.</p>
      <p>Il n'y a aucun risque à instiller plusieurs gouttes d'un même traitement, l'essentiel étant de mettre au moins une goutte dans l'oeil. Une unidose comprend assez de gouttes pour faire des "erreurs". Il n'y a donc aucun souci si des gouttes tombent sur votre joue ou au sol.</p>
      <p>Dans l'impossibilité de réaliser ce traitement vous même, demandez de l'aide à votre famille ou votre entourage (voisins, amis,...).</p>
      <h3>Quand aura lieu le contrôle post-opératoire ?</h3>
      <p>Le médecin vous remettra un dossier complet post-opératoire personnalisé (convocation post-opératoire, rappel de l'ordonnance des traitements post-opératoires).</p>
      <p>Dans celui-ci figure la date et l'heure de votre rendez-vous prévu. En cas d'impossibilité de vous rendre à ce rendez-vous, merci de contacter le secrétariat via le numéro de téléphone indiqué.</p>
      <p class="laser">Dans le cadre du LASIK :</p>
      <p class="control">contrôle le lendemain matin puis à 5-6 semaines.</p>
      <p class="laser2">Dans le cadre de la PKR :</p>
     <p class="control2">contrôle le lundi suivant puis à 5-6 semaines.</p>
    </div>
  </div>
</div>
<div class='bottom_bar'>
  <%= image_tag('logobleu.png', alt: "logo Ophta Miramas", class: 'img_prez') %>
</div>
