@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i&display=swap");
/* line 1, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_bottom.scss */
.bottom_elements {
  display: flex;
  width: 95%;
  text-align: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  align-content: center;
  margin: 20px auto;
}

/* line 14, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_bottom.scss */
.bottom_element_1 {
  position: relative;
  height: 230px;
  width: 240px;
  text-align: center;
  margin: 0 18px;
}

/* line 22, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_bottom.scss */
.bottom_element_1:hover {
  background-color: #FAFAFA;
}

/* line 27, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_bottom.scss */
.bottom_element_1 h2 {
  width: 240px;
  text-align: center;
  padding: 5px 0px !important;
  margin: 0 auto !important;
  text-decoration: none;
  font-weight: normal;
  font-size: 18px;
}

/* line 36, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_bottom.scss */
.bottom_description {
  text-decoration: none;
}

/* line 41, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_bottom.scss */
.bottom_element_1 p {
  width: 240px;
  text-align: center;
  padding: 5px 10px !important;
  margin: 00px auto !important;
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
}

/* line 51, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_bottom.scss */
.bottom_element_1 h4 {
  position: absolute;
  width: 120px;
  bottom: 10px;
  right: 62px;
  text-align: center;
  padding: 5px 10px !important;
  text-decoration: none;
  color: white;
  border: none;
  font-family: 'roboto';
  font-weight: 700;
  font-size: 80%;
  width: 90px;
  background: #ce1452;
}

/* line 126, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_bottom.scss */
.etape {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
  background: #f4f4f4;
  padding: 20px 0;
}

/* line 136, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_bottom.scss */
.etapes h2 {
  width: 50px;
  height: 15px;
  background-image: url(fleche01.png);
  background-size: cover;
}

/* line 143, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_bottom.scss */
.etapes h2:hover {
  transition: 0.3s;
  background-image: url(fleche02.png);
  background-size: cover;
}

/* line 3, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_cartels.scss */
.cartel_cataracte {
  background-color: white;
  box-shadow: 0 0 20px #EBEBEB;
  width: 250px;
  padding: 10px 30px;
  border-radius: 4px;
  margin: 10px auto;
}

/* line 12, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_cartels.scss */
.cartel_cataracte h2 {
  font-family: 'Playfair';
  font-weight: 400;
}

/* line 17, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_cartels.scss */
.cartel_cataracte p {
  font-family: 'roboto';
  font-weight: 300;
  font-size: 90%;
}

/* line 23, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_cartels.scss */
.cartel_cataracte button {
  color: #1E737D;
  border: none;
  font-family: 'roboto';
  font-weight: 700;
  font-size: 80%;
  padding: 15px;
  margin-left: 139px;
}

/* -------------- */
/* line 35, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_cartels.scss */
.cartel_injections {
  background-color: white;
  box-shadow: 0 0 20px #EBEBEB;
  width: 250px;
  padding: 10px 30px;
  border-radius: 4px;
  margin: 10px auto;
}

/* line 44, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_cartels.scss */
.cartel_injections h2 {
  font-family: 'Playfair';
  font-weight: 400;
}

/* line 49, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_cartels.scss */
.cartel_injections p {
  font-family: 'roboto';
  font-weight: 300;
  font-size: 90%;
}

/* line 55, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_cartels.scss */
.cartel_injections button {
  color: #1E737D;
  border: none;
  font-family: 'roboto';
  font-weight: 700;
  font-size: 80%;
  padding: 15px;
  margin-left: 139px;
}

/* -------------- */
/* line 67, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_cartels.scss */
.cartel_paupieres {
  background-color: white;
  box-shadow: 0 0 20px #EBEBEB;
  width: 250px;
  padding: 10px 30px;
  border-radius: 4px;
  margin: 10px auto;
}

/* line 76, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_cartels.scss */
.cartel_paupieres h2 {
  font-family: 'Playfair';
  font-weight: 400;
}

/* line 81, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_cartels.scss */
.cartel_paupieres p {
  font-family: 'roboto';
  font-weight: 300;
  font-size: 90%;
}

/* line 87, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_cartels.scss */
.cartel_paupieres button {
  color: #1E737D;
  border: none;
  font-family: 'roboto';
  font-weight: 700;
  font-size: 80%;
  padding: 15px;
  margin-left: 139px;
}

/* -------------- */
/* line 99, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_cartels.scss */
.cartel_pathologies {
  background-color: white;
  box-shadow: 0 0 20px #EBEBEB;
  width: 250px;
  padding: 10px 30px;
  border-radius: 4px;
  margin: 10px auto;
}

/* line 108, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_cartels.scss */
.cartel_pathologies h2 {
  font-family: 'Playfair';
  font-weight: 400;
}

/* line 113, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_cartels.scss */
.cartel_pathologies p {
  font-family: 'roboto';
  font-weight: 300;
  font-size: 90%;
}

/* line 119, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_cartels.scss */
.cartel_pathologies button {
  color: #1E737D;
  border: none;
  font-family: 'roboto';
  font-weight: 700;
  font-size: 80%;
  padding: 15px;
  margin-left: 139px;
}

/* -------------- */
/* line 131, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_cartels.scss */
.cartel_paupieres {
  background-color: white;
  box-shadow: 0 0 20px #EBEBEB;
  width: 250px;
  padding: 10px 30px;
  border-radius: 4px;
  margin: 10px auto;
}

/* line 140, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_cartels.scss */
.cartel_paupieres h2 {
  font-family: 'Playfair';
  font-weight: 400;
}

/* line 145, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_cartels.scss */
.cartel_paupieres p {
  font-family: 'roboto';
  font-weight: 300;
  font-size: 90%;
}

/* line 151, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_cartels.scss */
.cartel_paupieres button {
  color: #1E737D;
  border: none;
  font-family: 'roboto';
  font-weight: 700;
  font-size: 80%;
  padding: 15px;
  margin-left: 139px;
}

/* -------------- */
/* line 163, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_cartels.scss */
.cartel_laser {
  background-color: white;
  box-shadow: 0 0 20px #EBEBEB;
  width: 250px;
  padding: 10px 30px;
  border-radius: 4px;
  margin: 10px auto;
}

/* line 172, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_cartels.scss */
.cartel_laser h2 {
  font-family: 'Playfair';
  font-weight: 400;
}

/* line 177, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_cartels.scss */
.cartel_laser p {
  font-family: 'roboto';
  font-weight: 300;
  font-size: 90%;
}

/* line 183, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_cartels.scss */
.cartel_laser button {
  color: #1E737D;
  border: none;
  font-family: 'roboto';
  font-weight: 700;
  font-size: 80%;
  padding: 15px;
  margin-left: 139px;
}

/* _________________ */
/* line 195, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_cartels.scss */
.cartels_up {
  display: block;
  display: flex;
  align-content: center;
  width: 90%;
  text-align: center;
  margin: 70px auto 20px auto;
  flex-flow: row wrap;
}

/* line 205, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_cartels.scss */
.cartels_down {
  display: block;
  display: flex;
  align-content: center;
  width: 60%;
  text-align: center;
  margin: 10px auto 30px auto;
  flex-flow: row wrap;
}

/* line 216, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_cartels.scss */
.btn_rdv {
  color: #0f4370;
  display: block;
  border: 1px solid #0f4370;
  background-color: white;
  padding: 10px;
  width: 22%;
  margin: 50px auto;
  font-family: 'roboto';
  font-weight: bold;
  border-radius: 2px;
  letter-spacing: 0.5px;
  transition: 1s;
  text-align: center;
  font-size: 90%;
  text-decoration: none;
}

/* line 234, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_cartels.scss */
.btn_rdv:hover {
  color: white;
  background-color: #207FDE;
  transition: 0.3s;
  border: 1px solid #207FDE;
}

/* line 241, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_cartels.scss */
.btn_telechargements {
  color: white;
  display: block;
  border: 1px solid #207FDD;
  background-color: #207FDD;
  padding: 10px;
  width: 22%;
  margin: 50px auto;
  font-family: 'roboto';
  font-weight: bold;
  border-radius: 2px;
  letter-spacing: 0.5px;
  transition: 1s;
  text-align: center;
  font-size: 90%;
  text-decoration: none;
  margin: 30px 13% 30px 0;
}

/* line 260, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_cartels.scss */
.btn_telechargements:hover {
  color: #207FDD;
  background-color: white;
  transition: 0.3s;
  border: 1px solid white;
}

/* line 267, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_cartels.scss */
.cartel_lunette {
  width: 45%;
  display: block;
  display: flex;
  align-content: center;
  text-align: left;
  flex-flow: row wrap;
  background-color: rgba(243, 234, 234, 0.712);
  border-radius: 7px;
  margin: 45px auto;
  height: 220px;
  box-shadow: 0 0 20px lightgrey;
}

/* line 281, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_cartels.scss */
.img_lunettes {
  border-radius: 7px 0 0 7px;
  background-image: url(images/lunettes.jpg);
  height: 220px;
  width: 45%;
  background-size: cover;
  background-position: center;
}

/* line 290, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_cartels.scss */
.lunettes_text {
  display: block;
  margin: 15px;
  width: 40%;
  float: right;
}

/* line 297, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_cartels.scss */
.cartel_lunette h2 {
  font-family: 'Playfair';
  font-weight: 400;
}

/* line 302, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_cartels.scss */
.cartel_lunette p {
  font-family: 'roboto';
  font-weight: 300;
  font-size: 90%;
  line-height: 22px;
}

/* line 310, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_cartels.scss */
.bottom_elements p {
  color: #474747;
  font-family: 'roboto';
  font-weight: 300;
  color: gray;
}

/* line 1, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_header.scss */
.banner {
  width: 100%;
  height: auto;
}

/* line 6, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_header.scss */
.chest_body {
  background-color: white;
  padding: 20px;
  width: 75%;
  margin: 40px auto 0 auto;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 0 25px #0f4370;
}

/* line 15, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_header.scss */
.bienvenue {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  line-height: 0px;
  flex-direction: column;
}

/* line 26, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_header.scss */
.bienvenue h2 {
  color: black;
  font-family: 'Roboto';
  font-weight: 300;
  letter-spacing: 4px;
  font-size: 44px;
  margin-bottom: 30px;
}

/* line 35, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_header.scss */
.bienvenue h3 {
  color: #4B4B4B;
  color: black;
  font-family: 'Roboto';
  font-weight: 300;
  margin-top: 10px;
  font-size: 22px;
}

/* line 44, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_header.scss */
.bienvenue h4 {
  color: #207fde;
  font-family: 'Roboto';
  font-size: 44px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 35px;
}

/* line 1, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_navbar.scss */
body {
  background: linear-gradient(#207fdd, #207fdd, #0f4370);
  margin: 0;
}

/* _____________NAVBAR_____________________________ */
/* line 7, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_navbar.scss */
.navbar {
  z-index: 2;
  text-align: center;
  width: 80%;
  height: 45px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  margin: 0 auto;
  background-color: white(0.5);
  border-radius: 0 0px 5px 5px;
  background-color: white;
  left: 0;
}

/* line 25, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_navbar.scss */
.navbar_all {
  z-index: 2;
  text-align: center;
  width: 80%;
  height: 45px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  margin: 0 auto;
  background-color: white(0.5);
  border-radius: 0 0px 5px 5px;
  background-color: white;
  left: 0;
}

/* line 43, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_navbar.scss */
.nav_back {
  width: 100%;
  background-color: white;
  position: sticky;
  top: 0px;
  border-bottom: 0.5px solid lightgray;
  z-index: 255;
}

/* line 53, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_navbar.scss */
.navbar a {
  height: 0.5cm;
  font-size: 84%;
  font-weight: bold;
  font-family: 'roboto';
  color: black;
  border: none;
  background: none;
  margin: 15px auto 13px auto;
  transition-duration: 0.5s;
  text-decoration: none;
}

/* line 67, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_navbar.scss */
.navbar a:hover {
  transition: 0.3s;
  font-size: 90%;
  border-bottom: 1px solid #1963a8;
  padding-bottom: 5px;
}

/* line 74, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_navbar.scss */
.img_navbar {
  opacity: 0.6;
  transition: 0.5s;
  top: 0px;
  left: 0;
  width: 20px;
  height: 39.6833px;
}

/* line 84, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_navbar.scss */
.img_navbar:hover {
  opacity: 1;
  transition: 0.2s;
}

/* _______________________________________________ */
/* line 90, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_navbar.scss */
#img_logo {
  display: block;
  height: 100px;
  width: 221.667px;
  margin: 0 auto;
}

/* line 98, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_navbar.scss */
.logo {
  background-color: white;
}

/* ------------------------------------------------ */
/* line 104, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_navbar.scss */
.bottom_bar {
  width: 100%;
  height: 30px;
  bottom: 0;
  background-color: white;
  box-shadow: 0 -1px 0 lightgray;
  align-items: center;
  z-index: 5;
}

/* line 115, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_navbar.scss */
.bottom_bar img {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

/* line 1, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_presentation.scss */
.presentation_home {
  display: block;
  display: flex;
  align-content: center;
  width: 80%;
  text-align: center;
  margin: 35px auto;
  flex-flow: row wrap;
}

/* line 11, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_presentation.scss */
.presentation_home p {
  flex-flow: row nowrap;
  width: 150px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'roboto';
  font-weight: 300;
  color: #474747;
}

/* line 21, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_presentation.scss */
.eyes {
  background-image: url("/assets/banerbleue-6ded24424e3a0fd0cca0a81e68e01704df7342ead9d6017abc62123aceabf69e.jpg");
  background-size: cover;
  background-position: center;
}

/* line 27, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_presentation.scss */
.lunet {
  background-image: url("/assets/two_faces-27973363928af00d00e7035be6eec5d8352fd2925606d32e6babd90aa622a444.jpg");
  background-size: cover;
  background-position: center;
}

/* line 33, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_presentation.scss */
.presentation_home_1, .presentation_home_2, .presentation_home_3, .presentation_home_4 {
  align-content: center;
  text-align: center;
  margin: 0px auto;
}

/* line 40, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_presentation.scss */
.conteneur_text_image {
  display: flex;
  align-items: center;
}

/* line 45, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_presentation.scss */
.image_pathology {
  width: 380px;
  height: 246px;
  margin-right: 32px;
  border-radius: 15px;
}

/* line 52, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_presentation.scss */
.slideshow {
  list-style-type: none;
}

/** SLIDESHOW **/
/* line 57, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_presentation.scss */
.slideshow,
.slideshow:after {
  width: 100%;
  height: 40%;
  padding: 0;
}

/* line 64, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_presentation.scss */
.slideshow li span {
  width: 100%;
  height: 40%;
  padding: 0;
  color: transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  animation: imageAnimation 30s linear infinite 0s;
}

/* line 78, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_presentation.scss */
.slideshow li:nth-child(1) span {
  background-image: url("/assets/banerbleue-6ded24424e3a0fd0cca0a81e68e01704df7342ead9d6017abc62123aceabf69e.jpg");
}

/* line 81, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_presentation.scss */
.slideshow li:nth-child(2) span {
  background-image: url("/assets/two_faces-27973363928af00d00e7035be6eec5d8352fd2925606d32e6babd90aa622a444.jpg");
  animation-delay: 6s;
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes titleAnimation {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  19% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/* line 118, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_presentation.scss */
.no-cssanimations .cb-slideshow li span {
  opacity: 1;
}

/* line 1, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_centre.scss */
.chest_centre {
  background-color: white;
  width: 75%;
  display: block;
  display: flex;
  margin: 20px auto 0 auto;
  border-radius: 3px 3px 0 0;
  flex-direction: column;
  box-shadow: 0 0 25px #0f4370;
  bottom: 0;
  position: relative;
  z-index: 0;
}

/* line 14, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_centre.scss */
.position_row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* line 20, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_centre.scss */
.text_centre {
  display: flex;
  text-decoration: none;
  font-family: 'roboto';
  margin: 30px 0px 10px 0px;
  font-weight: 300;
  color: #474747;
  width: 100%;
}

/* line 31, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_centre.scss */
.cartel_center1 {
  text-align: center;
  height: 700px;
  width: 50%;
}

/* line 39, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_centre.scss */
.cartel_center1 p {
  text-align: center;
  width: 75%;
  font-size: 18.5px;
  padding: 220px 0px 0 60px;
  font-weight: 300;
}

/* line 48, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_centre.scss */
.cartel_center2 {
  height: 600px;
  width: 50%;
  color: white;
  margin-top: -30px;
  text-align: center;
}

/* line 57, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_centre.scss */
.cartel_center2 p {
  background-color: #ce1452;
  margin: 0 auto;
  border-bottom: 1px solid #f4588c;
  font-weight: 400;
  font-size: 18.5px;
}

/* line 65, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_centre.scss */
.text01 {
  padding: 20px;
  padding: 20px;
  background-color: #ce1452;
}

/* line 72, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_centre.scss */
.text02 {
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  background-color: #ce1452;
}

/* line 79, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_centre.scss */
.text03 {
  padding: 30px;
  text-align: center;
  margin: 0 auto;
  background-color: #ce1452;
}

/* line 85, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_centre.scss */
.text05, .text04 {
  padding: 30px 30px 45px 30px;
  text-align: center;
  margin: 0 auto;
  background-color: #ce1452;
}

/* line 100, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_centre.scss */
.mapimg {
  display: flex;
  justify-content: center;
  margin: 0 auto 0 auto;
  background-color: white;
  width: 75%;
  margin: 0 auto 0 auto;
  position: relative;
}

/* line 110, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_centre.scss */
.googlelink {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}

/* line 117, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_centre.scss */
.map {
  width: 76%;
  display: flex;
  align-content: center;
  margin: 0px auto;
}

/* line 125, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_centre.scss */
.img_lieu {
  float: right;
  width: 24%;
  margin-top: 0px;
}

/* line 135, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_centre.scss */
.titre_center {
  font-family: 'roboto';
  font-weight: 500;
  letter-spacing: 3px;
  font-size: 35px;
  width: 80%;
  display: flex;
  display: block;
  margin: 30px 0 0 13%;
  color: white;
}

/* line 2, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_pathologies.scss */
.chest_each_patho {
  background-color: white;
  width: 75%;
  display: block;
  display: flex;
  margin: 20px auto 0 auto;
  border-radius: 3px 3px 0 0;
  display: block;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 25px #13497f;
  bottom: 0;
  height: 100%;
}

/* line 17, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_pathologies.scss */
.titre_pathologies {
  font-family: 'roboto';
  font-weight: 500;
  letter-spacing: 3px;
  font-size: 35px;
  display: flex;
  display: block;
  margin: 30px 0 30px 13%;
  color: white;
}

/* line 29, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_pathologies.scss */
.vide {
  height: 30px;
}

/* line 33, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_pathologies.scss */
.chest_patho {
  background-color: white;
  width: 75%;
  display: block;
  display: flex;
  margin: 20px auto 0 auto;
  border-radius: 3px 3px 0 0;
  display: block;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 25px #13497f;
  bottom: 0;
}

/* line 47, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_pathologies.scss */
.chest_patho a {
  text-decoration: none;
}

/* line 52, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_pathologies.scss */
.chest_each_patho h2 {
  text-decoration: none;
  font-family: 'roboto';
  color: black;
  margin: 20px 20px;
  letter-spacing: 1px;
  font-weight: normal;
}

/* line 61, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_pathologies.scss */
.chest_patho h2 {
  text-decoration: none;
  font-family: 'roboto';
  color: black;
  margin: 20px 20px;
  letter-spacing: 1px;
  font-weight: normal;
}

/* line 70, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_pathologies.scss */
.chest_patho p {
  text-decoration: none;
  font-family: 'roboto';
  width: 60%;
  margin: 20px 20px;
  font-weight: 300;
  color: #474747;
}

/* line 80, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_pathologies.scss */
.chest_each_patho p {
  text-decoration: none;
  font-family: 'roboto';
  width: 75%;
  margin: 2px 48px;
  font-weight: 300;
  color: #474747;
  line-height: 150%;
}

/* line 91, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_pathologies.scss */
.chest_each_patho h2 {
  text-decoration: none;
  font-family: 'roboto';
  color: black;
  margin: 2px 48px;
  letter-spacing: 2px;
}

/* line 99, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_pathologies.scss */
.chest_patho h4 {
  color: white;
  border: none;
  font-family: 'roboto';
  font-weight: 700;
  font-size: 15px;
  text-align: right;
  margin: 10px 20px;
  border-radius: 3px;
  background-color: #ce1452;
  width: 15%;
  padding: 10px 15px;
  text-align: center;
  margin-left: 80%;
  opacity: 0.7;
}

/* line 116, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_pathologies.scss */
.chest_patho h4:hover {
  transition: 0.6s;
  opacity: 1;
}

/* line 122, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_pathologies.scss */
.link_glaucome {
  width: 100%;
  align-content: center;
  display: block;
  margin: 20px auto;
  padding-top: 10px;
  border-bottom: 1px solid #13497f;
  padding-bottom: 20px;
}

/* line 133, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_pathologies.scss */
.link_diabete {
  width: 100%;
  align-content: center;
  display: block;
  margin: 20px auto;
  padding-top: 10px;
  border-bottom: 1px solid #13497f;
  padding-bottom: 20px;
}

/* line 145, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_pathologies.scss */
.link_dmla {
  width: 100%;
  align-content: center;
  display: block;
  margin: 20px auto;
  padding-top: 10px;
  border-bottom: 1px solid #13497f;
  padding-bottom: 15px;
}

/* line 155, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_pathologies.scss */
.link_decollement_retine {
  width: 100%;
  align-content: center;
  display: block;
  margin: 20px auto;
  padding-top: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid #13497f;
}

/* line 165, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_pathologies.scss */
.link_autres_maladies {
  width: 100%;
  align-content: center;
  display: block;
  margin: 20px auto;
  padding-top: 10px;
}

/* line 176, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_pathologies.scss */
.image_lunettes {
  width: 450px;
}

/* line 179, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_pathologies.scss */
.textes_lunettes {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 675px;
}

/* line 192, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_pathologies.scss */
.textes_lunettes2 {
  display: flex;
  flex-direction: column;
  height: 555px;
  margin: 0;
  background-image: url("/assets/forlunettes2-1b99170794f0426126dc4ce32f604fb6c80024c6e93b2fba37f4803d8b54b776.png");
  background-repeat: no-repeat;
  background-size: 37%;
  background-position: right;
}

/* line 205, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_pathologies.scss */
.conteneur_text_image {
  display: flex;
  flex-wrap: wrap;
}

/* line 212, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_pathologies.scss */
.conteneur_text_image p {
  background: #207fde;
  color: white;
  width: 60%;
  padding: 30px 25px 30px 25px;
  border-bottom: 1px solid lightblue;
  margin: 0;
  font-weight: 400;
}

/* line 222, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_pathologies.scss */
.conteneur_text_image h2 {
  width: 60%;
  padding: 30px 25px 30px 25px;
  color: white;
  background: #207fde;
  font-size: 30px;
  margin: 0;
  border-bottom: 1px solid lightblue;
}

/* line 233, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_pathologies.scss */
.conteneur_text_pathologies p {
  width: 60%;
  color: white;
  font-weight: 400;
  background-color: #ce1452;
  margin: 0;
  padding: 15px;
  border-bottom: 1px solid pink;
}

/* line 243, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_pathologies.scss */
.conteneur_text_pathologies h2 {
  color: white;
  font-weight: 400;
  background-color: #ce1452;
  margin: 0;
  width: 60%;
  padding: 10px 15px 0 15px;
}

/* line 268, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_pathologies.scss */
.conteneur_text_chirurgies p {
  width: 60%;
  color: white;
  font-weight: 400;
  background-color: #207fde;
  margin: 0;
  padding: 30px 15px 30px 15px;
  border-bottom: 1px solid pink;
}

/* line 278, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_pathologies.scss */
.conteneur_text_chirurgies h2 {
  color: white;
  font-weight: 400;
  background-color: #207fde;
  margin: 0;
  width: 60%;
  padding: 10px 15px 0 15px;
}

/* line 291, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_pathologies.scss */
.titre_path {
  border-radius: 3px 0 0 0;
}

/* line 295, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_pathologies.scss */
.image_pathology {
  height: 100%;
  width: 31%;
  float: right;
  border-radius: 0;
  margin-top: 50px;
}

/* line 308, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_pathologies.scss */
.conteneur_text_bilantech p {
  width: 80%;
  color: black;
  font-weight: 400;
  background-color: #f4f4f4;
  margin: 0;
  padding: 15px 15px 15px 15px;
}

/* line 318, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_pathologies.scss */
.conteneur_text_bilantech h2 {
  color: black;
  font-weight: 400;
  background-color: #f4f4f4;
  margin: 0;
  width: 80%;
  padding: 30px 15px 0 15px;
  border-top: 4px solid white;
}

/* line 328, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_pathologies.scss */
.titre_pathologies_telechargement {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

/* line 3, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_personnel.scss */
.img_inf {
  margin-top: 45px;
  padding-top: 30px;
  width: 200px;
  background: #ce1452;
}

/* line 11, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_personnel.scss */
.img_anne {
  margin-top: 45px;
  width: 145px;
  padding: 10px 0 0 55px;
  background: #207fdd;
}

/* line 19, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_personnel.scss */
.img_eliane {
  margin-top: 45px;
  width: 190px;
  padding: 0px 0 0 10px;
  background: #207fdd;
}

/* line 27, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_personnel.scss */
.img_agnes {
  margin-top: 45px;
  width: 160px;
  padding: 0px 0 0 40px;
  background: #e8e8b2;
}

/* line 35, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_personnel.scss */
.img_nadine {
  margin-top: 45px;
  width: 160px;
  padding: 10px 0 0 40px;
  background: #0f4370;
}

/* line 43, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_personnel.scss */
.img_brigitte {
  margin-top: 45px;
  width: 175px;
  padding: 15px 0 0 25px;
  background: #0f4370;
}

/* line 52, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_personnel.scss */
.personnel {
  position: relative;
  height: 300px;
  width: 300px;
}

/* line 59, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_personnel.scss */
.personnels_cards {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 70px auto 0px auto;
}

/* line 66, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_personnel.scss */
.personnels_cards {
  display: flex;
  flex-wrap: wrap;
}

/* line 71, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_personnel.scss */
.personnel {
  -webkit-backface-visibility: hidden;
  position: relative;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

/* line 83, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_personnel.scss */
.personnel p {
  position: absolute;
  opacity: 0;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px 40px;
  bottom: 0px;
  left: -50px;
}

/* line 93, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_personnel.scss */
.personnel h2 {
  position: absolute;
  top: -40px;
  font-size: 100%;
  width: 300px;
  text-align: center;
  left: -50px;
}

/* line 102, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_personnel.scss */
.personnel:hover p {
  transition: 0.5s;
  opacity: 1;
}

/* line 106, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_personnel.scss */
.personnel img {
  border-radius: 2px;
}

/* line 109, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_personnel.scss */
.personnel:hover img {
  transition: 0.5s;
  opacity: 0.7;
}

/* line 114, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_personnel.scss */
.personnel:hover {
  box-shadow: 0 15px 50px rgba(147, 147, 147, 0.1);
}

/* line 118, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_personnel.scss */
.secretariat_orthoptiste {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 50px;
}

@media (max-width: 960px) {
  /* line 2, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_responsive.scss */
  .chest_centre, .mapimg {
    width: 75%;
  }

  /* line 5, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_responsive.scss */
  .cartel_center2 {
    height: 600px;
  }

  /* line 8, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_responsive.scss */
  .cartel_center2 p {
    font-size: 18.5px;
  }

  /* line 12, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_responsive.scss */
  .cartel_center1 {
    padding: 0 10px 0 0;
    height: 710px;
  }
}
@media (max-width: 780px) {
  /* line 20, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_responsive.scss */
  .chest_centre, .mapimg, .chest_patho, .chest_each_patho {
    width: 85%;
  }

  /* line 23, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_responsive.scss */
  .cartel_center2 {
    height: 400px;
  }

  /* line 26, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_responsive.scss */
  .cartel_center2 p {
    font-size: 15px;
  }

  /* line 29, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_responsive.scss */
  .text01, .text02, .text03, .text04, .text05 {
    padding: 13px 10px;
  }

  /* line 32, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_responsive.scss */
  .cartel_center1 {
    padding: 0 45px 0 0;
    height: 610px;
  }

  /* line 37, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_responsive.scss */
  .cartel_center1 p {
    font-size: 15px;
  }

  /* line 40, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_responsive.scss */
  * {
    transition: 0.4s;
  }

  /* line 44, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_responsive.scss */
  .navbar {
    width: 95%;
  }

  /* line 48, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_responsive.scss */
  .navbar a {
    font-size: 70%;
  }

  /* line 52, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_responsive.scss */
  .img_navbar {
    width: 15px;
    height: 30px;
  }

  /* line 57, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_responsive.scss */
  #img_logo {
    display: block;
    height: 50px;
    width: 110px;
    margin: 0 auto;
  }

  /* line 63, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_responsive.scss */
  .titre_center {
    margin-left: 5%;
    font-size: 27px;
  }

  /* line 68, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_responsive.scss */
  .textes_lunettes p {
    font-size: 14px;
  }

  /* line 72, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_responsive.scss */
  .btn_rdv {
    width: 75%;
  }

  /* line 75, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_responsive.scss */
  .textes_lunettes2 {
    background-image: url("");
  }

  /* line 78, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_responsive.scss */
  .conteneur_text_image p, .conteneur_text_image h2 {
    width: 85%;
    margin: 0 auto;
  }

  /* line 83, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_responsive.scss */
  .titre_pathologies {
    font-size: 27px;
  }

  /* line 87, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_responsive.scss */
  .chest_patho h4 {
    width: 30%;
    margin-left: 55%;
  }

  /* line 91, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_responsive.scss */
  .etapes h2 {
    width: 100px;
    height: 60px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  /* line 98, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_responsive.scss */
  .image_pathology {
    height: 0px;
    width: 0px;
  }

  /* line 104, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_responsive.scss */
  .conteneur_text_chirurgies p, .conteneur_text_bilantech p, .conteneur_text_bilantech h2, .conteneur_text_pathologies p, .conteneur_text_pathologies h2 {
    width: 93%;
    margin: 0 auto;
    border-radius: 0 !important;
  }

  /* line 110, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_responsive.scss */
  .personnels_cards {
    height: auto;
  }

  /* line 113, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_responsive.scss */
  .personnel h2 {
    margin-top: 55px;
  }
}
@media (max-width: 540px) {
  /* line 118, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_responsive.scss */
  h3.bienvenue_text, h4.bienvenue_ophta {
    visibility: collapse;
  }

  /* line 122, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_responsive.scss */
  .chest_centre, .mapimg, .chest_patho, .chest_each_patho {
    width: 95%;
  }

  /* line 125, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_responsive.scss */
  .cartel_center2 {
    height: 500px;
  }

  /* line 128, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_responsive.scss */
  .cartel_center2 p {
    font-size: 15px;
  }

  /* line 131, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_responsive.scss */
  .text01, .text02, .text03, .text04, .text05 {
    padding: 11px;
  }

  /* line 134, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_responsive.scss */
  .cartel_center1 {
    padding: 0 45px 0 0;
    height: 610px;
  }

  /* line 139, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_responsive.scss */
  .navbar a {
    font-size: 52%;
    margin: 0 3px;
  }

  /* line 144, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_responsive.scss */
  .titre_center {
    margin-left: 3%;
    font-size: 25px;
  }

  /* line 149, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_responsive.scss */
  .titre_pathologies {
    font-size: 25px;
    width: 95%;
    margin: 30px 0 30px 0px;
  }

  /* line 155, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_responsive.scss */
  .btn_telechargements {
    margin: 30px 0 30px 0px;
    width: 50%;
  }

  /* line 160, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_responsive.scss */
  .bienvenue h4 {
    font-size: 30px;
  }
}
@media (max-width: 444px) {
  /* line 166, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_responsive.scss */
  .bienvenue h3 {
    font-size: 15px;
  }
}
@media (max-width: 345px) {
  /* line 172, /home/dumez/code/DmzTheo/Ophta_Miramas/app/assets/stylesheets/components/_responsive.scss */
  .bienvenue h4, h3 {
    visibility: collapse;
  }
}
